.animated-text{
  color: #fff;
  padding: 0 40px;
  height: 30px;
  overflow: hidden;
  font-family: montserrat,sans-serif;
}

.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.line:first-child{
  animation: anim 12s infinite;
}

@keyframes anim {
  0%{
    margin-top: -5px;
  }
  12.5%{
    margin-top: -35px;
  }
  25%{
    margin-top: -65px;
  }
  37.5%{
    margin-top: -95px;
  }
  50%{
    margin-top: -125px;
  }
  62.5%{
    margin-top: -95px;
  }
  75%{
    margin-top: -65px;
  }
  87.5%{
    margin-top: -35px;
  }
  100%{
    margin-top: -5px;
  }
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://images.unsplash.com/photo-1512807286015-d57feef7f28f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://images.unsplash.com/photo-1574717024653-61fd2cf4d44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("https://live.staticflickr.com/1950/45215456721_c4ba01bc0d_c.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.derbyPic {
  background-image: url('https://images.unsplash.com/10/wii.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  height: 400px;
  -webkit-filter: grayscale(100%) blur(5px) brightness(50%) contrast(140%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(5px) brightness(50%) contrast(140%);
}

.polarPic {
  background-image: url('https://images.unsplash.com/10/wii.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  height: 400px;
  -webkit-filter: grayscale(100%) blur(5px) brightness(50%) contrast(140%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(5px) brightness(50%) contrast(140%);
}

.weddingPic {
  background-image: url('https://images.unsplash.com/10/wii.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  height: 400px;
  -webkit-filter: grayscale(100%) blur(5px) brightness(50%) contrast(140%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) blur(5px) brightness(50%) contrast(140%);
}
