<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template</title>
    <div w3-include-html="include/head.html"></div>
</head>
<body>

<div w3-include-html="include/navHeader.html"></div>
        
  <div class="w3-container" style="margin-top:90px">
  <hr>
  <a href="#">
    <div class="w3-cell-row">
      <div class="w3-cell" style="width:30%">
        <img class="w3-circle" src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">
      </div>
      <div class="w3-cell w3-container">
        <h3>Item1</h3>
        <p><i class="fa-solid fa-calendar"></i> Sat, June 17 – Tues, June 20</p>
      </div>
    </div>
  </a>  
  <hr>
  <a href="#">
    <div class="w3-cell-row">
      <div class="w3-cell" style="width:30%">
        <img class="w3-circle" src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">
      </div>
      <div class="w3-cell w3-container">
        <h3>Item2</h3>
        <p><i class="fa-solid fa-calendar"></i> Tues, June 20 – Wed, June 21</p>
      </div>
    </div>
  </a>
  <hr>
  <a href="#">
  <div class="w3-cell-row">
    <div class="w3-cell" style="width:30%">
      <img class="w3-circle" src="https://www.w3schools.com/w3css/img_forest.jpg" style="width:100%">
    </div>
    <div class="w3-cell w3-container">
      <h3>Item3</h3>
      <p><i class="fa-solid fa-calendar"></i> Wed, June 21 – Sat, June 24</p>
    </div>
  </div>
  </a>
  <hr>
  </div>
      
  <div w3-include-html="include/footer.html"></div>

  <script src="script.js" type="text/javascript"></script>
    
</body>
</html>