<!DOCTYPE html>
<html lang="en">
<head>
    <title>Porto</title>
    <div w3-include-html="include/head.html"></div>    
</head>
<body>

  <div w3-include-html="include/navHeader.html"></div>
        
  <div class="w3-container" style="margin-top:90px">
  <hr>
  <h1>Porto</h1>
  <h3><i class="fa-solid fa-calendar"></i> Wed, June 21 – Sat, June 24</h3>
  <h3><a href="https://www.hilton.com/en/hotels/oposcup-se-catedral-hotel-porto/" target="_blank"><i class="fa-solid fa-hotel"></i> Se Catedral Hotel Porto</a></h3>
  <h3><a href="https://www.viator.com/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-search"></i> Look up tours on Viator</h3></a>
  <br><h2>A few examples of Porto tours on Viator</h2>
  <h3><a href="https://www.viator.com/tours/Porto/Douro-Day-Tour-From-Porto/d26879-26008P4" target="_blank" rel="noopener noreferrer"> Authentic Douro Wine Tour Including Lunch and River Cruise</a></h3>
  <p>Soak up Portuguese culture on this full-day tour of the Douro Valley, departing from Porto. Meet your friendly guide and settle into your air-conditioned vehicle, then relax on the short scenic ride from Porto to the Douro Valley. See the Douro Valley’s main highlights, like stunning port wineries, a 16th-century monastery, and picturesque landscape. Break for lunch at the charming village of Pinhão, in the heart of the valley. After a full day of sightseeing and sampling Portuguese specialties, enjoy a quick ride back to Porto. Take a day trip from Porto to the UNESCO-listed Douro Valley Spend the day sampling wine and savor a delicious lunch Take a relaxing river cruise from Pinhao A small group ensures a personalized experience</p>
  <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/33/fa/83.jpg" alt="Alps" class="w3-image" style="width:100%;max-width:400px">
  <h3><a href="https://www.viator.com/tours/Porto/Porto-Food-and-Wine-Tasting-Tour/d26879-5902FOODWINE" target="_blank" rel="noopener noreferrer"> Porto: 3-Hour Food and Wine Tasting Tour - Guided Experience</a></h3>
  <p>Savor foods at Porto’s beloved cafés and markets during this food and wine tasting tour. Try regional delights, from sweet custard tarts to savory classics like a ‘bolinho de bacalhau’ codfish. Taste northern Portugal’s world-renowned export of Port and learn its history and cultural impact. With interesting gastronomy facts from your local guide, this food and wine tasting tour in Porto will keep your appetite sated. Porto food tour led by an expert local guide Learn about the history of Portuguese cuisine on a walk around town Sample traditional Portuguese dishes like codfish cakes and custard tarts Stroll through some of Porto’s best-looking neighborhoods like the historic Riberia district Visit generations-old taverns and traditional cafes</p>
  <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/72/09/5f.jpg" alt="Alps" class="w3-image" style="width:100%;max-width:400px">
  <h3><a href="https://www.viator.com/tours/Porto/Off-Track-to-Lagoons-and-Waterfalls-in-Geres-National-Park-from-Porto/d26879-105349P6" target="_blank" rel="noopener noreferrer"> Waterfalls, lagoons & old village in Gerês Park with Lunch Included</a></h3>
  <p>This tour is more than a simple visit to Gerês park: it’s a feeling & an experience! Come be a part of it! Peneda – Gerês National Park is the most exciting place to visit in the whole country if you are a Nature lover! And only 1 hour away from Oporto. No other place can offer so many different things at the same time: Beautiful landscapes, magical paths, ancient villages and a tasty local gastronomy full of fresh and local products. We will pick you up from your lodging in a 4×4, and your escape from routine begins! We offer you the unknown, the hidden secrets that only the locals know! Surrounded by gorgeous mountain landscapes you will make short and accessible walks that will reward you with breathtaking views, wild swimming in crystal clear lagoons with only fish to make you company, waterfalls taken straight from fantasy books and a time travel back to ancient times, where you can see and feel how the locals live, dress and eat in centuries old villages.</p>
  <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0f/fe/59/dd.jpg" alt="Alps" class="w3-image" style="width:100%;max-width:400px">
  <h3><a href="https://www.viator.com/tours/Porto/Porto-Highlights-E-Bike-Tour/d26879-5902P10" target="_blank" rel="noopener noreferrer"> 3-Hour of Porto Highlights on a Electric Bike - Guided Tour</a></h3>
  <p>Porto’s hilly streets can make a walking or pushbike tour more challenging. Explore the city with ease aboard an electric bike that does all the hard work for you. Join your guide and group for a journey around Porto’s highlights including the Clerigos Tower, Lello Book Store, Sao Bento train station, and the Dom Luis I Bridge. An electric bike makes it easy to explore the hilly terrain Learn about Porto’s history and culture from your guide All necessary e-bike equipment is provided Choose from two tour times to suit your schedule</p>
  <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/23/a8/2c.jpg" alt="Alps" class="w3-image" style="width:100%;max-width:400px">
  
  <hr>
  </div>
        
  <div w3-include-html="include/footer.html"></div>

  <script src="script.js" type="text/javascript"></script>
 
  <!-- <script>
    function includeHTML() {
      var z, i, elmnt, file, xhttp;
      /* Loop through a collection of all HTML elements: */
      z = document.getElementsByTagName("*");
      for (i = 0; i < z.length; i++) {
        elmnt = z[i];
        /*search for elements with a certain atrribute:*/
        file = elmnt.getAttribute("w3-include-html");
        if (file) {
          /* Make an HTTP request using the attribute value as the file name: */
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
              if (this.status == 200) {elmnt.innerHTML = this.responseText;}
              if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
              /* Remove the attribute, and call this function once more: */
              elmnt.removeAttribute("w3-include-html");
              includeHTML();
            }
          }
          xhttp.open("GET", file, true);
          xhttp.send();
          /* Exit the function: */
          return;
        }
      }
    }
    
    includeHTML();

    function openSidebar() {
      document.getElementById("mySidebar").style.display = "block";
    }
    
    function closeSidebar() {
      document.getElementById("mySidebar").style.display = "none";
    }

    closeSidebar();
  </script>-->
    
</body>
</html>