html, body {
margin: 0px;
}

#wrap_video {
  position: absolute;
  top: 0;
  left: 0;
}
#video_overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 720px;
  z-index: 100;
  background-color: rgba(255,255,255,.1);
}
#player{
    background: purple;
    position: absolute;
    top: 75px;
    left: 74px;
}

#gif{
  width: 390px;
  position: absolute;
  top: 75px;
  left: 74px;

}

img {
  width:100%
}



#img1 {display:block;}
#img2 {display:none}



@media only screen and (max-width: 600px) {
  body {
  }
  #img1 {display: none;}
  #img2 {display: block;}
  img {
    width:100%
  }
  #video_overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(255,255,255,.1);
  }

}
