html, body {
margin: 0px;
}

#wrap_video {
  position: absolute;
  top: 0;
  left: 0;
}
#video_overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 720px;
  z-index: 100;
  background-color: rgba(255,255,255,.1);
}
#player{
    background: purple;
    position: absolute;
    top: 75px;
    left: 74px;
}

#gif{
  width: 390px;
  position: absolute;
  top: 75px;
  left: 74px;

}

img {
  width:100%
}






@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }


}
