html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  background: black;
  top: 0;
  display: table;
  background-size: cover;
}

.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.content h1{
  font-family: 'montserrat', sans-serif;
  color: #f9f3f4;
  font-size: 500%;
  text-shadow: 0 0 300px #000;
}

.content .btn{
  border-radius: 9px;
  color: #f9f3f4;
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
}

.content .btn:hover{
  color: #2196f3;
}

p {
  font-size: 160%;
  line-height: 200%;
  text-align: justify;
  margin: 3%;
  background: white;
}


/*
body{
  background: #000;
}
*/

.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.container span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 30s 1;
  letter-spacing: 30px;
  padding-left: 30px;
}

@keyframes text {
  0%{
    color: black;
    padding-left: 100px;
    letter-spacing: 100px;
  }
  40%{
    color: white;
  }
}
